# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/
.env/

# Jupyter
.ipynb_checkpoints/

# Models & artifacts
*.joblib
*.pkl
models/

# Logs
*.log

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db
